{
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [
    {
      "files": [
        "**/*.css",
        "**/*.scss",
        "**/*.html"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}