// ------------------------------
// mixin
// ------------------------------
@use 'variables' as *;

// ----------
// media query
// ----------
@mixin mq($bp) {
  $bp-value: map-get($breakpoint, $bp);
  @media (max-width: $bp-value) {
    @content;
  }
}

// ----------
// margin
// ----------
@mixin marginTandB($value: 40px) {
  margin: $value 0;
  @if ($value > 60px) {
    @include mq(vp-tab) {
      margin: calc($value / 2) 0;
    }
  }
}
// ----------
// padding
// ----------
@mixin paddingTandB($value: 40px) {
  padding: $value 0;
  @if ($value > 60px) {
    @include mq(vp-tab) {
      padding: calc($value / 2) 0;
    }
  }
}
// ----------
// font
// ----------
@mixin fontJp($size: 16px, $weight: 400) {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: $size;
  font-weight: $weight;
}
@mixin fontEn($size: 16px, $weight: 400) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: $weight;
}
// ----------
// section
// ----------
@mixin sectionBody($calc: 100px, $width: $pc-s) {
  width: min(100% - $calc, $width);
  margin: 0 auto;
  @if ($calc > 40px) {
    @include mq(vp-sp) {
      width: min(100% - calc($calc / 2), $width);
    }
  }
}
