// ------------------------------
// 変数
// ------------------------------

// content width
$pc-m: 1400px;
$pc-s: 1170px;
$tab: 960px;
$sp: 560px;

// color
$black01: #000;

// font-family
$f-sans: 'Noto Sans JP', sans-serif;
$f-serif: 'Noto Serif JP', serif;
$f-roboto: 'Roboto', sans-serif;
$f-robotoCondensed: 'RobotoCondensed', sans-serif;