// ------------------------------
// 変数
// ------------------------------

$breakpoint: (
  vp-pc-m: 1400px,
  vp-pc-s: 1170px,
  vp-tab: 960px,
  vp-sp: 560px,
);
// color
$color: (
  black: #000,
);
$black01: #000;
// font-family
$f-sans: 'Noto Sans JP', sans-serif;
$f-serif: 'Noto Serif JP', serif;
$f-roboto: 'Roboto', sans-serif;
$f-robotoCondensed: 'RobotoCondensed', sans-serif;
