@use "../global"as *;

// menu
button.menuBox {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  z-index: 11111;
  cursor: pointer;
  display: none;
  @include mq(vp-pc-s) {
    display: block;
  }
}
.menuTop,
.menuCenter,
.menuBottom {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 20px;
  background: map-get($color, black01);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.menuTop {
  top: 42%;
}
.menuCenter {
  top: 50%;
}
.menuBottom {
  top: 58%;
}
.menuTop.js-active {
  width: 34px;
  top: 50%;
  transform: translate(-50%, 0) rotate(30deg);
}

.menuBottom.js-active {
  width: 34px;
  top: 50%;
  transform: translate(-50%, 0) rotate(-30deg);
}
.menuCenter.js-active {
  width: 34px;
  top: 50%;
  transform: translate(-50%, 0) rotate(-30deg);
}
